#include <physical_layouts.dtsi>

/ {
    physical_layout_cosmoskeyboard: physical_layout_cosmoskeyboard {
        compatible = "zmk,physical-layout";
        display-name = "cosmoskeyboard";
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   95       0     0    95>
            , <&key_physical_attrs 100 100  100   32       0   100    32>
            , <&key_physical_attrs 100 100  200    0       0   200     0>
            , <&key_physical_attrs 100 100  300   28       0   300    28>
            , <&key_physical_attrs 100 100  400   42       0   400    42>
            , <&key_physical_attrs 100 100  950   42       0   950    42>
            , <&key_physical_attrs 100 100 1050   28       0  1050    28>
            , <&key_physical_attrs 100 100 1150    0       0  1150     0>
            , <&key_physical_attrs 100 100 1250   32       0  1250    32>
            , <&key_physical_attrs 100 100 1350   95       0  1350    95>
            , <&key_physical_attrs 100 100    0  195       0     0   195>
            , <&key_physical_attrs 100 100  100  132       0   100   132>
            , <&key_physical_attrs 100 100  200  100       0   200   100>
            , <&key_physical_attrs 100 100  300  129       0   300   129>
            , <&key_physical_attrs 100 100  400  142       0   400   142>
            , <&key_physical_attrs 100 100  950  142       0   950   142>
            , <&key_physical_attrs 100 100 1050  129       0  1050   129>
            , <&key_physical_attrs 100 100 1150  100       0  1150   100>
            , <&key_physical_attrs 100 100 1250  132       0  1250   132>
            , <&key_physical_attrs 100 100 1350  195       0  1350   195>
            , <&key_physical_attrs 100 100    0  295       0     0   295>
            , <&key_physical_attrs 100 100  100  231       0   100   231>
            , <&key_physical_attrs 100 100  200  200       0   200   200>
            , <&key_physical_attrs 100 100  300  229       0   300   229>
            , <&key_physical_attrs 100 100  400  242       0   400   242>
            , <&key_physical_attrs 100 100  950  242       0   950   242>
            , <&key_physical_attrs 100 100 1050  229       0  1050   229>
            , <&key_physical_attrs 100 100 1150  200       0  1150   200>
            , <&key_physical_attrs 100 100 1250  231       0  1250   231>
            , <&key_physical_attrs 100 100 1350  295       0  1350   295>
            , <&key_physical_attrs 100 100  200  300       0   200   300>
            , <&key_physical_attrs 100 100  300  325       0   300   325>
            , <&key_physical_attrs 100 100  455  380    1500   555   480>
            , <&key_physical_attrs 100 100  555  380    3000   555   480>
            , <&key_physical_attrs 100 100  795  380 (-3000)   895   480>
            , <&key_physical_attrs 100 100  895  380 (-1500)   895   480>
            ;
    };
};
